body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



.search input {
    padding: 5px;
    margin-top: 5px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    display: none;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-item:hover,
.dropdown-btn:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.prih-button a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}


.slider-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 100%;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
    .logo img {
        width: 80px;
    }

    .search input {
        width: 100%;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .menu-item {
        width: 100%;
        margin: 5px 0;
    }

    .dropdown-content {
        min-width: 100%;
    }
}

.box-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.box {
    width: 30%;
    background-color: #f2f2f2;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h2, p {
    margin: 0;
}
.icon-footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    max-width: 300px;
    font-size: 14px;
}

.footer-section h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.footer-section a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
}
